@import "./layout/header";
@import "./layout/footer";
@import "./pages/pageHome";
@import "./pages/pageHousing";
@import "./pages/pageAbout";
@import "./pages/pageError";


body {
    max-width: 1440px;
    margin: auto;

    & #root{
        height: 100vh;
    }

}
