@import "../components/carousel";
@import "../components/housingAdHeader";

.housingAdInfo{

    max-width: 1240px;
    margin: 25px 6.94% 0px 6.94% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @media (max-width: 768px) {
        margin: 22px 5.33% 0px 5.33% ;
        max-width: 89.33%;
        gap: 14px;
    }

}

.housingAdColapses{
    width: 100%;
    display: flex;
    gap: 76px;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
    }
}
