@import "../components/colapse";

.about_colapseContainer{

    max-width: 1240px;
    margin: 38px 6.94% -12px 6.94% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @media (max-width: 768px) {
        margin: 19px 5.33% -8px 5.33% ;
        max-width: 89.33%;
        gap: 20px;
    }

}